<p style="color: green"><%= notice %></p>

<%= render @post %>

<div class="container">
  <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-primary mt-1 mb-3" %> |
  <%= link_to "Back to posts", posts_path, class: "btn btn-primary mt-1 mb-3" %>

  <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-danger mt-1 mb-3" %>
</div>
